.header{
    display: flex;
    justify-content: space-around;
    height: 75px;
    align-items: center;
    background: #FFFFFF;
}
.header__checkbox{
    display: none;
}
.header__label{
    display: none;
    cursor:pointer;
}
.header__nav{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;    
}
.header__nav__link{
    font-family: var(--fuente-uno);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    line-height: 19px;
    color: #272727;
    width: 130px;
}
.header__iconos__img{
    margin: 10px;
}
/*afecta a su hermano .header_nav */
.header__checkbox:checked ~ .header__nav{
    width: 200px;
    height: 300px;
    padding: 40px;    
    transition: 0.5s;
}
.banner{
    background-image: url("../img/banner/bg-image.png");
    background-position: center;
    height: 780px;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__articulo{
    width: 730px;
    height: 349px;
    background: var(--color-fondo-cajas-uno);
    backdrop-filter: blur(12px);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.banner__articulo__planta{
    width: 40px;
    height: 40px;
}
.banner__articulo__titulo{
    margin-left: 30px;
    margin-right: 30px;
}
.banner__articulo__texto{
    max-width: 537px;
    margin-left: 20px;
    margin-right: 20px;
}

.banner__articulo__boton{
    margin: 30px auto;
}

/* Se aplica si el tamaño es menor a 800px */
@media only screen and (max-width: 800px) {
    .header__nav{
        width: 0px;
        height: 0px;
        position: absolute;
        top:77px;
        left: 5vw;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        background-color: white;
        padding: 0px;
        overflow: hidden;
        transition: 0.5s;
    }
    .header__label{
        display: block;
    }
    .banner__articulo{
        width: 90%;
        height: 371px;
    }
}

