@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root{
    --fuente-uno:'Roboto', sans-serif;
    --fuente-titulo:  'Poppins', sans-serif;
    --fuente-texto: 'Helvetica';
    --color-titulo:#0B254B;
    --color-subtitulo:#5E6E89;
    --color-texto:#1D252C;
    --color-texto-boton:#FFFFFF;
    --color-boton:#56B280;
    --color-fondo-cajas-uno:rgba(247, 248, 250, 0.8);
}

*{
    margin: 0px;
}

html{
    background-color: #eeeeee;  
}

body{
    max-width: 1440px; /*Los diseños estan realizados con un ancho maximo y un minimo */
    min-width: 375px;
    margin: auto; /*dejo centrado el contenido si supera el maximos*/
}
/* las etiquetas tipo h normalmente mantienen el diseño, por lo tanto podemos setearlas aqui */
h1{
    font-family: var(--fuente-titulo);
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.9px;
    color:var(--color-titulo);
}

h2{
    font-family: var(--fuente-titulo);
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.9px;
    color: var(--color-titulo);
}

h3{
    font-family: var(--fuente-titulo);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1px;
    color: var(--color-subtitulo);
}

a{
    text-decoration: none;
}

p{
    font-family: var(--fuente-texto);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: var(--color-texto);
}

button{
    font-family: var(--fuente-uno);
    font-style: normal;
    font-weight: 500;
    font-size: 20.6452px;
    line-height: 24px;
    color: var(--color-texto-boton);
    background: var(--color-boton);
    border: 0px;
    border-radius: 4px;
    padding: 8px 44px;
}